/* resetea los margenes por defecto */
*{
    margin: 0;
    padding: 0;
    color:white;
}

h1, h2{
    justify-content:center;
    text-align: center;
    padding-top: 5px;
    background-color: black;
}
.container{
    display: flex;    
    justify-content: space-around;
    height: 1000px;
    width: 100%;
    flex-flow: column;
    margin-top: 40px;
}
.personalizarTimer{
    height: 300px;
    width: 300px;
    padding: 15px;
    margin:42px 5px 5px 30px;
    border: 0.5px solid black;
    border-radius: 15px;
    background-color: black;
}
.reloj{
    height:200px;
    width: 400px;
    padding: 10px ;
    margin:5px 5px 5px 5px ;
    align-self: center;  
    position: relative;
    bottom: 290px; 
    border: 0.5px solid black;
    border-radius: 15px; 
    background-color: black;
}
.reloj p{
    font-size: 80px;
    text-align: center;
    font-weight: 180px; 
}

.comando1, .comando2, .comando3 {
    position: relative;
    left:90PX;
    text-align: center;  
    font-size: 15px;    
    height: 45px;
    width: 75px;   
    font: 0.9em sans-serif;
    color: black;
    border-radius: 8px ;
    
}

.citas{
    height: 180px;
    width: 250px;
    padding: 40px ;
    margin:12px 30px 5px 5px;
    align-self: flex-end;
    align-content: space-around;
    position: relative;
    bottom: 500px;   
    border: 0.5px solid black;
    border-radius: 15px;
    background-color: black;
}
.informacion{
    position: relative;
    bottom: 380px;
    left: 350px;
    height: 220px;
    width: 500px;
    padding: 10px;
    border: 0.5px solid black;
    border-radius: 15px;
}
.informacion p{
    color: white;
    background-color: black;
    padding-top: 15px;
}
footer{
    text-align: center;
    background-color: black;
}
#start{
   text-align: center;
    font: 1em sans-serif; 
    background-color: black;   
}
#concentracion, #descansocorto, #descansoLargo, #ciclos, #start{
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;    
    margin-bottom: 5px;
}
.personalizarTimer label{
    margin: 55px;
    padding:5px;    
}


