@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
/* resetea los margenes por defecto */
*{
    margin: 0;
    padding: 0;
    color:white;
    box-sizing: border-box;
}
h1, h2{
    justify-content:center;
    text-align: center;
    padding-top: 5px;
    background-color: black;
}
.container{
    display: flex;    
    gap: 50px;
    height: 1000px;
    width: 100%;    
    margin-top: 40px;
    justify-content: center;
}
.personalizarTimer{
    height: 400px;
    width: 320px;
    padding: 15px;
    border: 0.5px solid black;
    border-radius: 15px;
    background-color: black;
}
.personalizarTimer label{
    margin: 5px;
    padding:5px;    
}
.personalizarTimer input{
    color: black;
}
.reloj{
    position: relative;
    right: 23px;
    height:200px;
    width: 450px;
    padding: 15px ;    
    border: 0.5px solid black;
    border-radius: 15px; 
    background-color: black;
}
.reloj p{
    font-size: 80px;
    text-align: center;
    font-weight: 180px; 
}
.botones{
    display: flex;
    gap: 20px;
    position: relative;
    left:75PX;
}
.botones:hover {
   cursor: pointer;
}
.comando1, .comando2, .comando3 {   
    text-align: center;  
    font-size: 15px;    
    height: 45px;
    width: 75px;   
    font: 0.9em sans-serif;
    color: white;
    background-color: black;
    border-radius: 8px; 
    font-family: 'Poppins', sans-serif; 
    border: 1px solid white;  
}
.citas{
    height: 180px;
    width: 250px;
    padding: 15px ;    
    border: 0.5px solid black;
    border-radius: 15px;
    background-color: black;
}
.informacion{   
    height: 220px;
    width: 500px;
    padding: 10px;
    border: 0.5px solid black;
    border-radius: 15px;
}
.informacion p{
    color: white;
    background-color: black;
    padding-top: 15px;
}
footer{
    text-align: center;
    background-color: black;
}
#start{
   text-align: center;
    font: 1em sans-serif; 
    background-color: black;   
}
#concentracion, #descansocorto, #descansoLargo, #ciclos, #start{
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;    
    margin-bottom: 5px;
}



